# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json

# Visual Studio
.vs/
*.rsuser
*.sln.docstates

# Rider
.idea/

# User-specific files
*.user
*.suo

# Publish output
publish/
